[submodule "perlin-zig"]
	path = perlin-zig
	url = https://github.com/mgord9518/perlin-zig
[submodule "basedirs-zig"]
	path = basedirs-zig
	url = https://github.com/mgord9518/basedirs-zig
[submodule "raylib.zig"]
	path = raylib.zig
	url = https://github.com/ryupold/raylib.zig
